.grid {
  position: relative;
  overflow: hidden;
}

.grid::after {
  content: '';
  display: table;
  clear: both;
}

.item {
  float: left;
  margin: 22px 12px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .item {
    float: none;
    width: 100% !important;
    margin: 10px 0;
  }
}
