.footer {
  padding: 4rem var(--page-padding) 2rem;
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.navLink {
  font-weight: 700;
  font-size: 0.95rem;
  transition: opacity 0.2s;
}

.navLink:hover {
  opacity: 0.6;
}
